<div class='forgotPass'>
  <%= react_component("Title", { title: "¿Olvidó su contaseña?" },)%>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => 'forgotPass__form'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%=  hidden_field_tag "signUpScreen", "screen1" %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Restablecer Contraseña", class:'forgotPass__button' %>
    </div>
  <% end %>
  <div class="forgotPass__link">
    <a href="/users/sign_in">Atrás</a>
  </div>
</div>
