<!DOCTYPE html>
<html>
  <head>
    <title>Artree</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'app'%>
    <%= stylesheet_link_tag 'header'%>
    <%= stylesheet_link_tag 'Carousel'%>
    <%= stylesheet_link_tag 'Contactanos'%>
    <%= stylesheet_link_tag 'Footer'%>
    <%= stylesheet_link_tag 'MainSectionMaterials'%>
    <%= stylesheet_link_tag 'MaterialCards'%>
    <%= stylesheet_link_tag 'UserAcountData'%>
    <%= stylesheet_link_tag 'UserAcount'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= react_component("AddAddresModal", { greeting: "Hello from react-rails." },)%>
    <div class="container-artree-none">
    <%= react_component("Header", { greeting: "Hello from react-rails." },)%>
    <div class="App">
      <div class="App--HeaderPadding">
        <%= yield %>
      </div>
    </div>
    <%= react_component("Footer", { greeting: "Hello from react-rails." },)%>
  </div>
  </body>
</html>
