<div class='checkIn'>
<%= react_component("Title",{title:"REGÍSTRATE"},)%>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'checkIn__form'})  do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= hidden_field_tag "screen", "screen1" %>
    <div >
      <%= f.label :Tu_Nombre %><br/>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    <div >
      <%= f.label :Tu_Email %><br />
      <%= f.email_field :email, autocomplete: "email"%>
    </div>
    <div >
      <%= f.label :Celular_1 %><br />
      <%= f.text_field :mobile, autocomplete: "tel-national" %>
    </div>
    <div >
      <%= f.label :Celular_2%><br />
      <%= f.text_field :mobile2 %>
    </div>
    <div >
      <%= f.label :Contraseña %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> Caracteres mínimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <div >
      <%= f.label :Confirmar_Contraseña%><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class="checkIn__form-terms">
      <input type="checkbox"></input>
    <span>
      He leído y acepto los <a href="#">Términos y condiciones</a>
    </span>
  </div>
  <a class="checkIn__signIn" href="/users/sign_in">
    Ya tengo cuenta con Artree</a>
  <%= f.submit "Sign up", class:'checkIn__button' %>
<% end %>
</div>